*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    background-color: #232f3e;
}

.overlay{
    position: fixed;
    top: 0;
    right: 0;
    background-color: blue;
    height: 100%;
    width: 15%;
    text-align: center;
    opacity: 0;
    z-index: 10;
    transform: scale(0.5);
    transform: translateZ(0) translateX(100%);
    transition: 0.4s cubic-bezier(0.29, 0.24, 0.28, 1.08);
}

.active{
    position: fixed;
    opacity: 1;
    transform: scale(1);
}

.pop{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
}

.activar{
    opacity: 1;
    transform:  scale(1);
    pointer-events: all;
}

.img-div{
    width: 40%;
}

.carousel-box{
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
    overflow-x: hidden;
    padding: 25px;
}

.carousel-box div{
    padding: 5px;
}

.carousel-box div:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.carousel-box p{
    text-align: center;
}

