*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    background-color: #232f3e;
}

.overlay{
    position: fixed;
    top: 0;
    right: 0;
    background-color: blue;
    height: 100%;
    width: 15%;
    text-align: center;
    z-index: 10;
    opacity: 0;
    transform: scale(0.5);
    transform: translateZ(0) translateX(100%);
    transition: 0.4s ease-in-out;
}

.active{
    position: fixed;
    opacity: 1;
    transform: scale(1);
}

.pop{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transform: scale(0.5);
}

.activar{
    opacity: 1;
    transform: scale(1);
}

.img-div{
    width: 40%;
}

